.engine-info {
    padding: 1rem;
    margin-bottom: .5em;
    background-color: #565959;
}

.engine-info label {
    display: block;
    color: white;
    font-size: .8em;
}

.engine-info input {
    width: 100%;
    font-size: .8em;
}

.engine-info input:not(:last-child) {
    margin-bottom: .5em;    
}
