.engine-capture-sessions {
    display: flex;
    flex-direction: row;
}

.capture-session-header {
    background-color: #ebebeb;
    padding: 1em;
}

.capture-session-top-stats {
    display: flex;
    justify-content: space-around;
    background-color: #fcfcfd;
    border-bottom: 3px solid #ebebeb;
    height: 223px;
}

.capture-session-top-stats .top-stats {
    flex: 1 0 auto;
    width: 50%;
}

.capture-session-timeline-stats {
    background-color: #fcfcfd;
    border-bottom: 3px solid #ebebeb;
    height: 223px;
}

.capture-session-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    min-height: 223px;
}

.capture-session-list .tab-content {
    flex: 1;
}