.header {
    padding: 2rem 1rem;
    background-color: #2865b0;
}

.header h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: "Raleway";
    font-weight: 300;
    line-height: 1;
    margin: 0;
    color: white;
}
