/* https://www.google.com/fonts#ReviewPlace:refine/Collection:Roboto:400,700|Roboto+Slab:400,700|Lato:400,300,700|Raleway:400,700,300,200,600 */
@font-face {
  font-family: 'Lato';
  src: url(./fonts/Lato/Lato-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url(./fonts/Lato/Lato-Bold.ttf) format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url(./fonts/Roboto_Slab/RobotoSlab-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url(./fonts/Roboto_Slab/RobotoSlab-Bold.ttf) format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Raleway';
  src: url(./fonts/Raleway/Raleway-ExtraLight.ttf) format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Raleway';
  src: url(./fonts/Raleway/Raleway-Light.ttf) format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Raleway';
  src: url(./fonts/Raleway/Raleway-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Raleway';
  src: url(./fonts/Raleway/Raleway-Bold.ttf) format('truetype');
  font-weight: 700;
}

html {
  height: 100%;
}

body {
  font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", "ff-tisa-web-pro", "Georgia", Arial, sans-serif;
}

h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.5;
}

h1 {
  font-size: 1.5em;
  font-weight: 600;
}

h2 {
  font-size: 1.3em;
  font-weight: normal;
}

h3 {
  font-size: 1.12em;
  font-weight: 600;
}

#root {
  height: 100%;
  width: 100%;
}
